.statistics{
  width: 95%;
  border-radius: 20px;
  -webkit-box-shadow: 9px 8px 5px -1px rgba(227,227,227,1);
  -moz-box-shadow: 9px 8px 5px -1px rgba(227,227,227,1);
  box-shadow: 9px 8px 5px -1px rgba(227,227,227,1);
  padding: 1rem;
  align-self: center;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  h3{
    font-weight: bold;
  }

  .metrics{
    display: flex;
    justify-content: space-between;
  }
}
