@import "@/shared/vars.scss";
.field{
  .job{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    h3{
      font-weight: bold;
    }
    .date{
      color: gray;
    }
  }
}

.add_button{
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  color: #0b4dbe;
  margin-top: 1rem;
}
