.resume{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.skills{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  .skills_container{
    display: flex;
    column-gap: 1rem;
  }
  .skill{
    border-radius: 10px;
    padding: 5px;
    background-color: var(--tg-theme-hint-color);
    color: var(--tg-theme-text-color)
  }
}
