.hints {
	margin-top: 10px;

	&_card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 10px;
		width: 130px;
		height: 140px;
		padding: 10px;
		border: 1px solid var(--tg-theme-secondary-bg-color);
		border-radius: 15px;
		background: var(--tg-theme-secondary-bg-color);
	}
	&_card > .title {
		font-size: 16px;
		font-weight: 500;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
