.hints {
	display: flex;
	align-items: center;
	overflow-x: auto;
	margin-top: 10px;

	&_card {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 200px;
		height: 100px;
		padding: 10px;
		border: 1px solid black;
		border-radius: 10px;
	}
	&_card > .title {
		font-size: 18px;
		font-weight: 600;
	}
}
