.icon_button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	background: var(--tg-theme-secondary-bg-color) !important;
	border: 1px solid var(--tg-theme-hint-color) !important;
	color: var(--tg-theme-hint-color) !important;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		opacity: 0.8 !important;
	}
}
