.filter {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
	overflow-x: auto;
	scrollbar-width: none;

	&_button {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 5px 15px;
		background: var(--tg-theme-secondary-bg-color);
		border-radius: 20px;
		color: var(--tg-theme-text-color);
		cursor: pointer;
		opacity: 0.8;
		transition:
			background 0.3s ease-in-out,
			color 0.3s ease-in-out;
		&[data-active='true'] {
			background: var(--tg-theme-accent-text-color);
			color: var(--tg-theme-secondary-bg-color);
			opacity: 1;
		}
	}
}
